
[Unit]
Description=Compose-managed Docker application
After=network.target

[Service]
ExecStart=/usr/bin/docker start -a ateabb
ExecStop=/usr/bin/docker stop -t 10 ateabb
Restart=on-failure
RestartSec=10
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target

